.applicant-aboutus {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .applicant-aboutus .overlap-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 1024px;
    width: 1440px;
  }
  
  .applicant-aboutus .overlap {
    height: 1025px;
    position: relative;
    top: -1px;
  }
  
  .applicant-aboutus .rectangle {
    background-color: #e7f6ff;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 1440px;
  }
  
  .applicant-aboutus .nav-bar {
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .applicant-aboutus .overlap-group {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
    height: 64px;
    left: -2px;
    position: relative;
    top: -2px;
    width: 1444px;
  }
  
  .applicant-aboutus .text-wrapper {
    color: #00446c;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 229px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
  }
  
  .applicant-aboutus .div {
    color: #00456c;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-size: 16px;
    font-weight: 800;
    left: 628px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
  }
  
  .applicant-aboutus .text-wrapper-2 {
    color: #00456c;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-size: 16px;
    font-weight: 800;
    left: 774px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
  }
  
  .applicant-aboutus .text-wrapper-3 {
    color: #00456c;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-size: 16px;
    font-weight: 800;
    left: 961px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 20px;
    white-space: nowrap;
  }
  
  .applicant-aboutus .scholarlylogocropped {
    height: 50px;
    left: 161px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 50px;
  }
  
  .applicant-aboutus .text-wrapper-4 {
    color: #00456c;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-size: 16px;
    font-weight: 800;
    left: 543px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
  }
  
  .applicant-aboutus .log-out-button {
    height: 38px;
    left: 1187px;
    position: absolute;
    top: 16px;
    width: 98px;
  }
  
  .applicant-aboutus .PROFILE-ICON {
    height: 45px;
    left: 1098px;
    position: absolute;
    top: 8px;
    width: 64px;
  }
  
  .applicant-aboutus .about-us {
    height: 747px;
    left: 157px;
    position: absolute;
    top: 151px;
    width: 1128px;
  }
  
  .applicant-aboutus .text-wrapper-5 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 320px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 273px;
  }
  