.homepage {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage .overlap-wrapper {
    border: 1px solid;
    border-color: #000000;
    height: 1735px;
    overflow-x: hidden;
    width: 1440px;
  }
  
  .homepage .overlap {
    height: 1997px;
    position: relative;
    width: 1442px;
  }
  
  .homepage .home {
    height: 1735px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1442px;
  }
  
  .homepage .overlap-group {
    background-image: url(./rectangle-4.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1735px;
    position: relative;
    width: 1440px;
  }
  
  .homepage .text-wrapper {
    color: #f7440b;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 655px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 772px;
    white-space: nowrap;
  }
  
  .homepage .h-1 {
    color: #ffffff;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 545px;
    letter-spacing: 0;
    line-height: 70px;
    position: absolute;
    top: 135px;
    white-space: nowrap;
  }
  
  .homepage .home-title-card {
    height: 419px;
    left: 109px;
    position: absolute;
    top: 228px;
    width: 1225px;
  }
  
  .homepage .div {
    background-image: url(./rectangle-69.svg);
    background-size: 100% 100%;
    height: 427px;
    left: -4px;
    position: relative;
    width: 1231px;
  }
  
  .homepage .image {
    height: 340px;
    left: 67px;
    object-fit: cover;
    position: absolute;
    top: 40px;
    width: 510px;
  }
  
  .homepage .p {
    color: #000000;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 45px;
    font-weight: 700;
    height: 210px;
    left: 644px;
    letter-spacing: 0;
    line-height: 70px;
    position: absolute;
    top: 40px;
    width: 514px;
  }
  
  .homepage .group {
    height: 86px;
    left: 790px;
    position: absolute;
    top: 265px;
    width: 268px;
  }
  
  .homepage .div-wrapper {
    background-color: #000000;
    border-radius: 15px;
    height: 86px;
    position: relative;
    width: 266px;
  }
  
  .homepage .text-wrapper-2 {
    color: #ffffff;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 49px;
    letter-spacing: 0;
    line-height: 70px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
  }
  
  .homepage .newly-added {
    height: 922px;
    left: 119px;
    position: absolute;
    top: 798px;
    width: 1223px;
  }
  
  .homepage .overlap-2 {
    background-color: #dddada;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    height: 227px;
    left: 535px;
    position: relative;
    top: 27px;
    width: 678px;
  }
  
  .homepage .text-wrapper-3 {
    color: #0060c0;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 19px;
    font-weight: 700;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 132px;
    white-space: nowrap;
  }
  
  .homepage .overlap-group-2 {
    height: 44px;
    left: 32px;
    position: absolute;
    top: 169px;
    width: 451px;
  }
  
  .homepage .location-university {
    color: #e92d21;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 19px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 0;
  }
  
  .homepage .location-university-2 {
    color: #555555;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 19px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 0;
  }
  
  .homepage .text-wrapper-4 {
    color: #2859d7;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 545px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 183px;
    white-space: nowrap;
  }
  
  .homepage .STEM-excellence {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 20px;
    width: 627px;
  }
  
  .homepage .span {
    font-weight: 700;
  }
  
  .homepage .text-wrapper-5 {
    font-size: 19px;
    font-weight: 700;
  }
  
  .homepage .text-wrapper-6 {
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 19px;
    font-weight: 600;
  }
  
  .homepage .overlap-group-wrapper {
    height: 922px;
    left: 119px;
    position: absolute;
    top: 1075px;
    width: 1221px;
  }
  
  .homepage .location-university-3 {
    color: #555555;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 19px;
    font-weight: 700;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 166px;
  }
  
  .homepage .text-wrapper-7 {
    color: #0060c0;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 19px;
    font-weight: 700;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 129px;
    white-space: nowrap;
  }
  
  .homepage .STEM-excellence-2 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 17px;
    width: 627px;
  }
  
  .homepage .latest-updates {
    box-shadow: 0px 4px 4px #00000040;
    height: 756px;
    left: 109px;
    position: absolute;
    top: 772px;
    width: 468px;
  }
  
  .homepage .overlap-3 {
    height: 756px;
    position: relative;
    width: 470px;
  }
  
  .homepage .line {
    height: 1px;
    left: 43px;
    object-fit: cover;
    position: absolute;
    top: 137px;
    width: 209px;
  }
  
  .homepage .updates {
    background-color: #d4d4d4;
    border-radius: 20px;
    height: 756px;
    left: 0;
    position: absolute;
    top: 0;
    width: 468px;
  }
  
  .homepage .update-card {
    height: 166px;
    left: 22px;
    position: relative;
    top: 91px;
    width: 428px;
  }
  
  .homepage .overlap-group-3 {
    background-image: url(./rectangle-74.svg);
    background-size: 100% 100%;
    height: 174px;
    left: -4px;
    position: relative;
    width: 432px;
  }
  
  .homepage .text-wrapper-8 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 26px;
    letter-spacing: 0.1px;
    line-height: 21px;
    position: absolute;
    text-align: justify;
    top: 61px;
    width: 383px;
  }
  
  .homepage .text-wrapper-9 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 26px;
    letter-spacing: 0.1px;
    line-height: 21px;
    position: absolute;
    text-shadow: 0px 0.5px 1px #00000040;
    top: 19px;
    white-space: nowrap;
  }
  
  .homepage .latest-updates-2 {
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 470px;
  }
  
  .homepage .overlap-4 {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    height: 77px;
    left: -1px;
    position: relative;
    top: -1px;
  }
  
  .homepage .text-wrapper-10 {
    color: #000000;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 56px;
    letter-spacing: 0.1px;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 21px;
  }
  
  .homepage .MEGAPHONE-PNG {
    height: 50px;
    left: 17px;
    position: absolute;
    top: 13px;
    width: 39px;
  }
  
  .homepage .newly-added-2 {
    height: 227px;
    left: 654px;
    position: absolute;
    top: 1379px;
    width: 686px;
  }
  
  .homepage .overlap-5 {
    background-color: #dddada;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    height: 227px;
    position: relative;
    width: 678px;
  }
  
  .homepage .location-university-4 {
    color: #555555;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 19px;
    font-weight: 700;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 159px;
  }
  
  .homepage .text-wrapper-11 {
    color: #0060c0dd;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 19px;
    font-weight: 700;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 122px;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-12 {
    color: #2859d7;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 539px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 180px;
    white-space: nowrap;
  }
  
  .homepage .STEM-excellence-3 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 23px;
    font-weight: 700;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 14px;
    width: 627px;
  }
  
  .homepage .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0;
  }
  
  .homepage .text-wrapper-14 {
    font-size: 18px;
  }
  