/* Section 2 */
.section {
    background-color: #8cc0de;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .section .group-wrapper {
    background-color: #8cc0de;
    border: 1px none;
    height: 1024px;
    width: 1440px;
  }
  
  .section .group {
    height: 759px;
    left: 153px;
    position: relative;
    top: 133px;
    width: 1135px;
  }
  
  .section .line {
    height: 759px;
    left: 562px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1px;
  }
  
  .section .div {
    height: 630px;
    left: 0;
    position: absolute;
    top: 26px;
    width: 526px;
  }
  
  .section .text-wrapper {
    color: #ffffff;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 63px;
    width: 522px;
  }
  
  .section .text-wrapper-2 {
    color: #ffffff;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-size: 20px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .section .uclm-library {
    height: 395px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 235px;
    width: 522px;
  }
  
  .section .group-2 {
    height: 517px;
    left: 647px;
    position: absolute;
    top: 96px;
    width: 502px;
  }
  
  .section .p {
    color: #435b66;
    font-family: "Roboto Flex-Regular", Helvetica;
    font-size: 21px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 39px;
    width: 368px;
  }
  
  .section .using-your-unique {
    color: #435b66;
    font-family: "Roboto Flex-Regular", Helvetica;
    font-size: 21px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 182px;
    width: 400px;
  }
  
  .section .text-wrapper-3 {
    color: #435b66;
    font-family: "Roboto Flex-Regular", Helvetica;
    font-size: 21px;
    font-weight: 400;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 350px;
    width: 397px;
  }
  
  .section .text-wrapper-4 {
    color: #ffffff;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-size: 20px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 149px;
    white-space: nowrap;
  }
  
  .section .text-wrapper-5 {
    color: #ffffff;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-size: 20px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 317px;
    white-space: nowrap;
  }
  
  .section .overlap-group {
    border-radius: 50px;
    height: 62px;
    left: 130px;
    position: absolute;
    top: 455px;
    width: 170px;
  }

  .steps-join-btn {
    padding: 10px 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #0DA8FF;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .section .text-wrapper-6 {
    color: #ffffff;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 21px;
    font-weight: 700;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    white-space: nowrap;
  }