.sign-up-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .sign-up-page .overlap-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 1024px;
    width: 1440px;
  }
  
  .sign-up-page .overlap {
    background-color: #07a3fb1a;
    height: 1024px;
    position: relative;
  }
  
  .sign-up-page .nav-bar-variant2 {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .sign-up-page .sign-up-instance {
    left: 445px !important;
    position: absolute !important;
    top: 166px !important;
  }
  